In [1]:
a = 10 
b = 10.5
c = "Hello world"
print(a)
print(b)
print(c)

10
10.5
Hello world

In [2]:
print(a, b, c)

10 10.5 Hello world

In [4]:
#Data types

a = 10 
b = 10.5
c = "Hello world"
d = True
print(type(a))
print(type(b))
print(type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#Basic operators
#1.Basic mathmatics operators
+ 
- 
* 
/ 
% 
# ** power 
# // flowr division
# Operants are used to decleare Operaters which is (a,b,c) in below.

In [5]:
a = 20
b = 30 
c = a+b
print(c)

50

In [6]:
a = 20
b = 30 
c = a**b
print(c)

1073741824000000000000000000000000000000

In [8]:
a = 50
b = 10
c = a//b
print(c)

5

In [9]:
P = 10000
t = 2.5
r = 8.3

i = P*t*r/100
print(i)

2075.0000000000005

In [10]:
# a = input() // this input function is used to take input from user

10

In [1]:
a = int(input("Enter your= "))
b = int(input("Enter your age = "))
c = a+b
print(c)

Enter your= 23
Enter your age = 23
46

In [2]:
a = float(input("Enter = "))
b = float(input("Enter your = "))
c = a+b
print(c)

Enter = 23.5
Enter your = 24.5
48.0

In [3]:
# a = 10 converts integer into string.
str(a)

'10'

In [4]:
#WAP to calculate the value of i in 
# i = p*t*r/100

p = int(input("Enter p ="))
t = float(input("Enter t ="))
r = float(input("Enter r ="))

i = p*t*r/100

print("The value of i =",i)

Enter p =2999
Enter t =3.5
Enter r =6.9
The value of i = 724.2585